/ConversorUnidades/target/
/3_PP_Iterator/ExemploEmJava/Iterator/ProjetoComIterator/build/
/3_PP_Iterator/ExemploEmJava/Iterator/ProjetoComIterator/nbproject/private/
/3_PP_Iterator/ExemploEmJava/Iterator/ProjetoSemIterator/build/
/3_PP_Iterator/ExemploEmJava/Iterator/ProjetoSemIterator/nbproject/private/
/Iterator/target/
/Factory/target/
/Decorator/target/
/*.class
*.log
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
.DS_Store
.idea/
*.idea/
*.vscode/
*.settings/
*.project
*.classpath
*.factorypath
*.externalToolBuilders
*.launches
*.mvn/
*.gradle/
*.gradle-cache/
*.gradle-wrapper.jar
*.gradle-wrapper.properties